#user requirements :

1- title
2- description
3- location
4- price
5- date & time




# employee requirements

1- message ( details ) => "don't have any numbers"
2- go up or down on price



+ requirements:

1- logo design "2 days"
2- home (screen) "7 days"
3- login & signup (2 screens) "3 days"
4- policies (screen) "1 days"
5- new task (2 screens) "4 days"
6- chat & list of chats (2 screens) "4 days"
7- settings